---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import WhoItsFor from '../components/WhoItsFor.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="RideNote - Dial in your perfect ride">
  <div class="min-h-screen bg-black">
    <div class="bg-black p-3">
      <div class="mx-auto h-[calc(100vh-24px)]">
        <div class="relative bg-black rounded-3xl overflow-hidden shadow-2xl h-full flex flex-col">
          <div class="absolute inset-0 z-0">
            <img
              src="/images/heroes/hero-3.png"
              alt="Mountain bike rider on trail - RideNote app helps track your perfect bike settings"
              class="w-full h-full object-cover opacity-40"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-black/40"></div>
          </div>
          <Navigation />
          <Hero />
        </div>
      </div>
    </div>
    <Problem />
    <HowItWorks />
    <Features />
    <WhoItsFor />
    <FAQ />
    <FinalCTA />
    <Footer />
  </div>
</Layout>
